/*
    Dev panel: hidden widget templates duplicated in clone matrices
*/
.dev-panel {
    display: none;
}
.editor-enabled .dev-panel {
    display: flex;
}

::-webkit-scrollbar {
    height:8rem;
    border-bottom: 4rem solid var(--color-background);
}
::-webkit-scrollbar-thumb:horizontal {
    border-bottom: 1rem solid var(--color-background)!important;
    border-radius: 3rem;
}
::-webkit-scrollbar-button:decrement:start, ::-webkit-scrollbar-button:increment:end {
    width: 1rem;
}

/* #osc-greeting-header:not(.hidden) + #osc-container {
    background-image:url(test.jpg);
    background-size:auto auto;
    background-position:-250rem -100rem;
    background-repeat: no-repeat;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}
@keyframes pulse {
  50% {
    opacity: 0.60;
  }
} */

/*
    General settings
*/
.root-container {
  /* font-size:90%; */
  --strip-width: 90rem;
  --strip-max-width: 90rem;
  --strip-height: 380rem;

  --border-color:rgba(0,0,0,0.2);
  --color-selected: rgb(62 69 81);

  --blue: rgba(109,181,253,1);
  --green: rgba(1,251,180,1);
  --yellow: rgba(255,236,50);
  --orange: rgba(255,156,40,1);
  --red: rgba(255,80,50,1);
  --purple: rgba(152,71,255,1);
}

#osc-greeting-header, #main-menu {
    display: none!important;
}

/*
    Strip container
*/

.strip {
  --color-background: var(--color-ui-foreground);
  min-width: var(--strip-width);
  width: var(--strip-width);
}
.strip .navigation {display:none;}

.strip-selected {
  --color-background: var(--color-selected)
}

.strip-hidden {
  --color-widget: #555;
}
.gain-fader {
  --alpha-pips-text:0.6;
  --alpha-pips:1;
  --color-pips: #fff;
  --color-fill: rgba(188,194,208,0.7);
  --alpha-stroke: 0!important;
  --line-width: 8!important;
  --widget-padding: 4!important;
}
.gain-fader canvas {
    font-size:105%!important;
}
.strip-meter {
  --line-width:1rem!important;
  --alpha-fill-on:1;
  --color-stroke: rgba(0,0,0,0.2);
  margin: 4rem;
  margin-left:1rem!important;
  top:7rem!important;
  bottom:7rem!important;
  height:auto!important;
}
.strip-meter canvas {
  background: rgba(0,0,0,0.2)!important;
}
.strip-meter-left {
  margin-left:0rem!important;
  min-width: 3rem!important;
  width: 3rem!important;
}
.strip-meter-right {
  margin-left:2rem!important;
}
.gain-wrapper {
    margin:-4rem 0
}

.pan-fader {
    /* background-color: rgba(0,0,0,0.2); */
    margin-bottom: 4rem
}
.pan-label {
    pointer-events:none;
    opacity: 0.6
}
.pan-label:before,
.pan-label:after {
    content:"L";
    position: absolute;
    left:0;
    top:0;
    line-height: 30rem;
    width: 30rem;
    text-align:center;
}
.pan-label:after {
    content:"R";
    left:auto;
    right:0;
}

.knob-container {
  --color-knob: rgba(225,225,225,1);
  --color-widget:  rgba(225,225,225,1);
  --alpha-stroke: 1;
  --alpha-fill-off: 0.3!important;
  --line-width: 2;
}
.knob-container.disabled {
    --color-knob: rgba(142,145,151,1);
    --color-widget: rgba(142,145,151,1);
    --alpha-fill-off: 0!important;
}
.knob-container.disabled canvas {
    pointer-events: none;
}
.range-container {
  --color-widget:  rgba(225,225,225,1);

}

.return-fader {
    --color-widget: white;
    --alpha-fill-off: 0.05;
    --alpha-fill-on: 0.1;
    --line-width: 0;
    --alpha-stroke: 1;
    --color-stroke: var(--border-color);
    --color-knob:rgba(255,255,255,0.25);
    --widget-padding:0;
    --knob-size: 0;
  }
.return-fader .html {
    position: absolute;
    top:0;
    left:0;
    line-height:32rem;
    width: 100%;
    pointer-events: none;
}


.strip-matrix > inner > .widget {
    position:unset!important
}


/*
    Buttons, inputs, menus
*/

.menu-container, .input-container, .button-container , .text-container, .dropdown-container, .switch-container  {
  --border-radius:3rem;
  --line-width:1rem;
}
.panel-container {
    --color-stroke: var(--border-color);
}
.menu-container {
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.5);
 --alpha-stroke:1;
 --widget-padding: 0;
 --color-fill: rgba(255,255,255,0.06);
 --alpha-fill-off: 1;
 cursor: pointer;
}
.menu-container .item:hover div:after {
    opacity: var(--alpha-fill-hover)!important;
}
.menu-container .item.on {
    --color-fill: rgba(33,37,43,0.8);
    color:var(--color-widget)!important;
}
.menu-container menu {
    box-shadow: 0 0 8rem 0 rgba(33,37,43,1);
}
.menu-container.align-left .text {
  justify-content: start!important;
}
.menu-container.align-left-menu .item div {
  justify-content: start!important;
}
.menu-container .item {
  padding: 0 7rem;
}

.button-container,
.option-button {
 --color-fill: rgba(255,255,255,0.06);
 --alpha-fill-on: 1;
 --alpha-fill-off: 1;
 --color-text-on: var(--color-widget);
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.5);
 --alpha-stroke:1;
 --widget-padding: 0;
 cursor: pointer;
}

.button-container.on,
.option-button.on {
  --color-fill: rgba(33,37,43,0.8)
}

.input-container {
    --color-widget:var(--color-ui-background);
    --color-stroke: rgba(0,0,0,0.5);
    --alpha-fill-off: 1;
    --widget-padding:0;
}
.input-container input {
  --color-fill: rgba(109,181,253,1)
}
.input-container canvas,
.input-container input {
  z-index: 10;
}

.option-modal {
    font-size:80%;
    --color-widget: rgba(118,178,255,1);
    --alpha-fill-off:0;
    --alpha-fill-on:0.5;
    right: 0;
}
.option-modal:after {
    content:"";
    position: absolute;
    width:0;
    left:0;
    top:2rem;
    bottom:2rem;
    border-left:1rem solid rgba(0,0,0,0.3);
    border-right:1rem solid rgba(255,255,255,.1);
}

#notifications .toast {
    background:var(--color-ui-foreground);
    box-shadow: 0 0 8rem 0 rgba(33,37,43,1);
    border: 1rem solid rgba(0,0,0,0.5);
    border-radius: 3rem;
    padding: 10rem
}
#notifications i {
    color: inherit!important;
}

/*
    Strip color selection menu
    Additional css generated dynamically in root.css property
*/
.color-menu .item {
  opacity: 0.65;
  font-size: 0;
}
.color-menu .item:hover {
  opacity: 0.80;
}

/*
    horizontal button combo
*/
.combo-buttons .button-container  {
  border-radius:0;
}
.combo-buttons .button-container:first-child  {
  border-top-left-radius:3rem;
  border-bottom-left-radius:3rem;
  margin-right:-1rem;
}
.combo-buttons .button-container:last-child  {
  border-top-right-radius:3rem;
  border-bottom-right-radius:3rem;
  margin-left:-1rem;
}
