/*
    General settings
*/
:root {
  --strip-width: 90rem;
  --strip-max-width: 90rem;
  --strip-height: 380rem;
  --insert-width: 230rem;
  --fx-width: 140rem;

  --border-color:rgba(0,0,0,0.2);
  --color-selected: rgb(62 69 81);

  --blue: rgba(109,181,253,1);
  --green: rgba(1,251,180,1);
  --yellow: rgba(255,236,50);
  --orange: rgba(255,156,40,1);
  --red: rgba(255,80,50,1);
  --purple: rgba(152,71,255,1);
}

/*
    Dev panel: hidden widget templates duplicated in clone matrices
*/
.dev-panel {
  display: none;
}
.editor-enabled .dev-panel {
  display: flex;
}

/*
  Preload greeter override
*/

#osc-greeting-header, #main-menu {
  display: none!important;
}

#osc-greeting-header:not(.hidden) + #osc-container{
  border-top:31rem solid var(--color-ui-foreground)!important;
  border-bottom:31rem solid var(--color-ui-foreground)!important;
  background: linear-gradient(to top, var(--color-background), var(--color-background) 2rem, transparent 2rem),
              var(--color-ui-background);
}
#osc-greeting-header:not(.hidden) + #osc-container:after{
  content:"";
  position: absolute;
  border-top:2rem solid var(--color-background)!important;
  border-bottom:2rem solid var(--color-background)!important;
  left: 0;
  right: 0;
  height: 758rem;
  background: VAR(--color-ui-selected);
  background:
              repeating-linear-gradient(transparent, transparent 378rem, var(--color-background) 378rem, var(--color-background) 380rem),
              linear-gradient(-90deg,  var(--color-selected), var(--color-selected) var(--strip-width), var(--color-background) var(--strip-width), var(--color-background) calc(var(--strip-width) + 2rem), transparent calc(var(--strip-width) + 2rem)),
              repeating-linear-gradient(90deg,  var(--color-background), var(--color-background) 2rem, transparent 2rem, transparent 90rem) 28rem,
              linear-gradient(90deg, var(--color-selected), var(--color-selected) 28rem, transparent 28rem),
              var(--color-ui-foreground);
}

/*
  Notifications
*/

#notifications {
  margin-bottom: 35rem
}
#notifications .toast {
    background:var(--color-ui-foreground);
    box-shadow: 0 0 8rem 0 rgba(33,37,43,1);
    border: 1rem solid rgba(0,0,0,0.5);
    border-radius: 3rem;
  }
#notifications .toast .content {
  margin: 10rem;
  margin-left: 0;
}
#notifications i {
    color: inherit!important;
}
#notifications i.fade {
  opacity 0.5
}

/*
    Strip container
*/

.strip {
  --color-background: var(--color-ui-foreground);
  min-width: var(--strip-width);
  width: var(--strip-width);
}
.strip-selected {
  --color-background: var(--color-selected)
}

/*
  Gain fader
*/

.gain-fader {
  --alpha-pips-text:0.6;
  --alpha-pips:1;
  --color-pips: #fff;
  --color-fill: rgba(188,194,208,0.7);
  --alpha-stroke: 0!important;
  --line-width: 8!important;
  --widget-padding: 4!important;
}

/*
  Gain meter
*/

.strip-meter {
  --line-width:1rem!important;
  --alpha-fill-on:1;
  --color-stroke: rgba(0,0,0,0.2);
  margin: 4rem;
  margin-left:1rem!important;
  top:7rem!important;
  bottom:7rem!important;
  height:auto!important;
}
.strip-meter canvas {
  background: rgba(0,0,0,0.2)!important;
}
.strip-meter-left {
  margin-left:0rem!important;
  min-width: 3rem!important;
  width: 3rem!important;
}
.strip-meter-right {
  margin-left:2rem!important;
}


/*
  Knob
*/


.knob-container {
  --color-knob: rgba(225,225,225,1);
  --color-widget:  rgba(225,225,225,1);
  --alpha-stroke: 1;
  --alpha-fill-off: 0.3!important;
  --line-width: 2;
}
.knob-container.disabled {
    --color-knob: rgba(142,145,151,1);
    --color-widget: rgba(142,145,151,1);
    --alpha-fill-off: 0!important;
}
.knob-container.disabled canvas {
    pointer-events: none;
}


/*
  Pan knob L/R letters
*/

.pan-label {
    pointer-events:none;
    opacity: 0.6
}
.pan-label:before,
.pan-label:after {
    content:"L";
    position: absolute;
    left:0;
    top:0;
    line-height: 30rem;
    width: 30rem;
    text-align:center;
}
.pan-label:after {
    content:"R";
    left:auto;
    right:0;
}

/*
    Buttons, inputs, menus
*/

.button-container, .menu-container, .modal-container > .toggle {
    cursor: pointer;
}

.menu-container, .input-container, .button-container , .text-container, .dropdown-container, .switch-container  {
  --border-radius:3rem;
  --line-width:1rem;
}
.panel-container {
    --color-stroke: var(--border-color);
}
.menu-container {
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.5);
 --alpha-stroke:1;
 --widget-padding: 0;
 --color-fill: rgba(255,255,255,0.06);
 --alpha-fill-off: 1;
}
.menu-container .item:hover div:after {
    opacity: var(--alpha-fill-hover)!important;
}
.menu-container .item.on {
    --color-fill: rgba(33,37,43,0.8);
    color:var(--color-widget)!important;
}
.menu-container menu {
    box-shadow: 0 0 8rem 0 rgba(33,37,43,1);
}
.menu-container.align-left .text {
  justify-content: start!important;
}
.menu-container.align-left-menu .item div {
  justify-content: start!important;
}
.menu-container .item {
  padding: 0 7rem;
}

.button-container,
.option-button {
 --color-fill: rgba(255,255,255,0.06);
 --alpha-fill-on: 1;
 --alpha-fill-off: 1;
 --color-text-on: var(--color-widget);
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.5);
 --alpha-stroke:1;
 --widget-padding: 0;
}

.button-container.on,
.option-button.on {
  --color-fill: rgba(33,37,43,0.8)
}

.input-container {
    --color-widget:var(--color-ui-background);
    --color-stroke: rgba(0,0,0,0.5);
    --alpha-fill-off: 1;
    --widget-padding:0;
}
.input-container input {
  --color-fill: rgba(109,181,253,1)
}
.input-container canvas,
.input-container input {
  z-index: 10;
}

.option-modal {
    font-size:80%;
    --color-widget: rgba(118,178,255,1);
    --alpha-fill-off:0;
    --alpha-fill-on:0.5;
    right: 0;
}
.option-modal:after {
    content:"";
    position: absolute;
    width:0;
    left:0;
    top:2rem;
    bottom:2rem;
    border-left:1rem solid rgba(0,0,0,0.3);
    border-right:1rem solid rgba(255,255,255,.1);
}

/*
    Strip color selection menu
    Additional css generated dynamically in root.css property
*/
.color-menu .item {
  opacity: 0.65;
  font-size: 0;
}
.color-menu .item:hover {
  opacity: 0.80;
}

/*
    horizontal button combo
*/
.combo-buttons .button-container  {
  border-radius:0;
}
.combo-buttons .button-container:first-child  {
  border-top-left-radius:3rem;
  border-bottom-left-radius:3rem;
  margin-right:-1rem;
}
.combo-buttons .button-container:last-child  {
  border-top-right-radius:3rem;
  border-bottom-right-radius:3rem;
  margin-left:-1rem;
}
