/*
    Dev panel: hidden widget templates duplicated in clone matrices
*/
.dev-panel {
    display: none;
}
.editor-enabled .dev-panel {
    display: flex;
}

/*
    General settings
*/
.root-container {
  /* font-size:90%; */
  --strip-width: 90rem;
  --strip-max-width: 90rem;
  --strip-height: 360rem;

  --border-color:rgba(0,0,0,0.2);
}

/*
    Strip container
*/

.strip {
  --color-background: var(--color-ui-foreground);
  min-width: var(--strip-width);
  width: var(--strip-width);
}
.strip-selected {
    filter: brightness(120%)
}

.strip-hidden {
  --color-widget: #555;
}
.gain-fader {
  --alpha-pips-text:0.6;
  --alpha-pips:1;
  --color-pips: #fff;
}
.gain-fader canvas {
    font-size:105%!important;
}
.strip-meter {
  --line-width:1rem!important;
  --alpha-fill-on:1;
  --color-stroke: rgba(0,0,0,0.2);
  margin: 4rem;
  margin-left:1rem!important;
  top:7rem!important;
  bottom:7rem!important;
  height:auto!important;
}
.strip-meter canvas {
  background: rgba(0,0,0,0.2)!important;
}
.strip-meter-left {
  margin-left:0rem!important;
}
.strip-meter-right {
  margin-left:2rem!important;
}
.gain-wrapper {
    margin:-4rem 0
}

.pan-fader {
    /* background-color: rgba(0,0,0,0.2); */
    margin-bottom: 4rem
}
.pan-label {
    pointer-events:none;
    opacity: 0.6
}
.pan-label:before,
.pan-label:after {
    content:"L";
    position: absolute;
    left:0;
    top:0;
    line-height: 30rem;
    width: 30rem;
    text-align:center;
}
.pan-label:after {
    content:"R";
    left:auto;
    right:0;
}



.strip-matrix > inner > .widget {
    position:unset!important
}


/*
    Buttons, inputs, menus
*/

.menu-container, .input-container, .button-container {
  --border-radius:3rem;
  --line-width:1rem;
}

.menu-container {
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.25);
 --alpha-stroke:1;
}

.option-button {
 --color-fill: rgba(255,255,255,0.06);
 --alpha-fill-on: 1;
 --alpha-fill-off: 1;
 --color-text-on: var(--color-widget);
 --line-width:1rem;
 --color-stroke:rgba(0,0,0,0.5);
 --alpha-stroke:1;
}

.option-button.on {
  --color-fill: rgba(33,37,43,0.8)
}

.input-container {
    --color-widget:var(--color-ui-background);
    --color-stroke: rgba(0,0,0,0.5);
    --alpha-fill-off: 1;
    --widget-padding:0;
}
.input-container input {
  --color-fill: rgba(109,181,253,1)
}
.input-container canvas,
.input-container input {
  z-index: 10;
}


/*
    Strip color selection menu
    Additional css generated dynamically in root.css property
*/
.color-menu .text {
  margin: 0 4rem;
}
.color-menu .item {
  opacity: var(--alpha-fill-on);
  font-size: 0;
}


/*
    horizontal button combo
*/
.combo-buttons .button-container  {
  border-radius:0;
}
.combo-buttons .button-container:first-child  {
  border-top-left-radius:3rem;
  border-bottom-left-radius:3rem;
  margin-right:-1rem;
}
.combo-buttons .button-container:last-child  {
  border-top-right-radius:3rem;
  border-bottom-right-radius:3rem;
  margin-left:-1rem;
}
